.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
/*   .visually-hidden {
    display: none;
  }  */

  .input-block {
    /* content:''; */
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    /* opacity: 0.4; */
    z-index: 0;
    border-radius: 5px;
  }

  .input-block__input-card {
    /* position: relative; */
    /* z-index: 1; */
    width: 65%;
    height: 70%;
    margin-left: 17.5%;
    margin-top: 20px;
    background-color: rgb(222, 226, 229);
    /* opacity: 1; */
    border-radius: 5px;
  }

  .input-block__input-card__input {
    min-width: calc(100% - 16px);
    width: calc(100% - 16px);
    max-width: calc(100% - 16px);
    height: 55%;
    max-height: 70%;
    margin: 10px 8px;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 400;
    padding: 10px 8px;
    border-radius: 5px;
  }

  .input-block__input-card__but, .input-block__input-card__but2 {
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1.1rem;
    width: 20%;
    height: 10%;
    margin-left: 40%;
    border-radius: 5px;
    border: 1px solid black;
  }

  .input-block__input-card__but {
    margin-bottom: 8px;
  }